{% extends 'base.html' %}
{% block title %}Regístrate – Hogwarts & Books{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-form">
        <h2 class="text-center mb-4">Registro de Usuario</h2>
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            {% for err in form.first_name.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
            {% for err in form.last_name.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.ci.label(class="form-label") }}
            {{ form.ci(class="form-control") }}
            {% for err in form.ci.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-control") }}
            {% for err in form.phone.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control") }}
            {% for err in form.address.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for err in form.password.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% for err in form.confirm_password.errors %}
              <small class="text-danger">{{ err }}</small>
            {% endfor %}
          </div>
          <div class="text-center">
            {{ form.submit(class="btn btn-custom") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
